@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

$primary-color: black;
$secondary-color: hsl(203, 89%, 53%);
$font-main: 'Poppins', 'Helvetica', sans-serif;
$header-font-size: 36px;
$sub-heading-font-size: 26px;
$font-size: 16px;
$font-color: white;
$section-padding: 1.25rem;
$sub-section-padding: 0.5rem;
$line-height: 1.1rem;
$transition-main: 0.35s all ease-in-out;
$transition-alt: 0.15s all ease-in-out;
$border-primary: 2px solid hsl(203, 89%, 53%);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: $font-color;

	a {
		list-style: none;
		text-decoration: none;
		transition: $transition-main;
		position: relative;
	}
}

.App {
	min-height: 100vh;
	width: 100vw;
	padding: $section-padding;
	background-color: $primary-color;
	font-family: $font-main;
}

// HEADER STYLING START

.header {
	display: flex;
	align-items: center;
	margin-bottom: auto;
	padding: 1rem 10rem;
	width: 100%;
	position: fixed;
	min-width: 1000px;

	.logo {
		font-weight: bolder;
		font-size: 2ch;
		font-size: $sub-heading-font-size;
	}

	.navbar {
		display: flex;
		align-items: center;
		justify-content: space-around;
		gap: 3.5rem;
		margin-left: auto;
		font-size: 20px;

		.hoverUnderlineEffect {
			display: inline-block;
			position: relative;
			padding-bottom: $sub-section-padding;
			text-decoration: none;
			transition: $transition-main;

			&:hover {
				color: $secondary-color;
			}

			&:before {
				content: '';
				position: absolute;
				width: 0%;
				height: 2px;
				bottom: 0;
				left: 0;

				transition: all 0.2s ease-in-out;
			}

			&:hover:before,
			&:active,
			&:focus {
				width: 100%;
				left: 0;
				background-color: $secondary-color;
			}
		}
	}
}

// HEADER STYLING END

// HERO SECTION STYLING START

.home {
	height: 100vh;
	display: flex;
	align-items: center;
	padding: 0 10%;
}

.home-content {
	// background-color: #252525;
	padding: $section-padding;
	display: flex;
	flex-direction: column;
	max-width: 600px;

	h1 {
		font-size: 52px;
		font-weight: 700;
		line-height: 1.2;
	}

	h3 {
		font-size: $sub-heading-font-size;
		font-weight: 700;
		color: $secondary-color;
		letter-spacing: 0.05rem;
		margin-top: 10px;
	}

	p {
		font-size: $font-size;
		margin: 10px 0 30px;
	}

	.btn-wrapper {
		width: 345px;
		height: 50px;
		display: flex;
		justify-content: space-between;

		a {
			position: relative;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 150px;
			height: 100%;
			background-color: $secondary-color;
			border: $border-primary;
			border-radius: 8px;
			font-size: 19px;
			color: #081b29;
			text-decoration: none;
			font-weight: 600;
			letter-spacing: 1px;
			z-index: 1;
			overflow: hidden;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 0%;
				height: 100%;
				background-color: $primary-color;
				z-index: -1;
				transition: 0.5s;
			}

			&:hover::before {
				width: 100%;
			}

			&:hover {
				color: $secondary-color;
			}
		}

		a:nth-child(2) {
			background-color: transparent;
			color: $secondary-color;

			&::before {
				background-color: $secondary-color;
			}

			&:hover {
				color: $primary-color;
			}
		}
	}
}
